<div class="d-flex justify-content-center mt-3" *ngIf="!newsArray['articles']">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
  <!-- round spinner -->
  <!-- <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->
</div>

<div
  class="d-flex justify-content-center mt-3"
  *ngIf="newsArray['articles']?.length == 0"
>
  <h5>Sorry No result found !</h5>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    fill="currentColor"
    class="bi bi-emoji-frown"
    viewBox="0 0 16 16"
  >
    <path
      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
    />
    <path
      d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
    />
  </svg>
</div>

<div
  class="container d-flex flex-row justify-content"
  *ngIf="newsArray['articles']?.length > 0"
>
  <div class="d-flex flex-row justify-content-between flex-wrap">
    <div
      class="card m-2"
      *ngFor="let news of newsArray['articles']; let i = index"
    >
      <img
        class="card-img-top"
        src="{{ news.urlToImage }}"
        alt="Card image"
        width="200"
        height="200"
      />
      <div class="card-body">
        <h4 class="card-title">{{ news.author ? news.author : "Title" }}</h4>
        <p class="card-text">{{ news.content }}</p>
        <p>{{ specificCountry }}</p>
      </div>
      <div class="card-footer">
        <a
          class="btn btn-dark"
          *ngIf="specificCountry == ''"
          [routerLink]="['details', i]"
          >See details</a
        >
        <a
          class="btn btn-dark"
          *ngIf="specificCountry"
          [routerLink]="[
            '/Khabar',
            specificCountry,
            specificCat,
            specificQuery,
            'details',
            i
          ]"
          >See details</a
        >
      </div>
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-warning personalize-form-btn"
  [routerLink]="['/Khabar/user/personalized-form']"
>
  Personalize Form
</button>
<div class="nav-btn-container">
  <button
    class="nav-btn next"
    (click)="getResults(1)"
    [disabled]="currentPage == totalPages"
  >
    &gt;
  </button>
  <button
    class="nav-btn prev"
    (click)="getResults(0)"
    [disabled]="currentPage === 1"
  >
    &lt;
  </button>
</div>
<!-- <router-outlet></router-outlet> -->
