#overlay {
    background-image: linear-gradient(to right top, #c9bfc7, #beb5c0, #b2abba, #a5a2b3, #9799ad, #9b9eb1, #9ea3b6, #a2a8ba, #babdcb, #d1d2dc, #e9e8ed, #ffffff);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.container {
    border: 2px solid black;
    width: 30%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 15px;
    align-self: center;
}

.form-control:focus {
    box-shadow: none;
}

.invalid-feedback {
    border: 2px solid red;
    display: block;
}

.valid-feedback {
    border: 2px solid green;
    display: block;
}

.invalid-feedback-txt {
    color: red;
}