<div id="overlay">
    <div class="container">
      <h3>Registrater Youself</h3>
      <form [formGroup]="signInForm">
        <!-- email -->
        <div class="form-group">
          <label for="exampleInputEmail">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail"
            placeholder="Enter email"
            name="email"
            formControlName="email"
            [ngClass]="{
              'valid-feedback': email.valid && (email.touched || email.dirty),
              'invalid-feedback': email.invalid && (email.touched || email.dirty)
            }"
          />
          <div
            class="invalid-feedback-txt"
            *ngIf="email.errors && (email.touched || email.dirty)"
          >
            <p *ngIf="email.errors['required']">Email is required</p>
            <p *ngIf="email.errors['pattern']">
              Email should be in proper format
            </p>
          </div>
  
          <!-- <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small> -->
        </div>
        <!-- username -->
        <div class="form-group">
          <label for="exampleInputUsername">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputUsername"
            placeholder="Enter username"
            name="username"
            formControlName="username"
            [ngClass]="{
              'valid-feedback': email.valid && (email.touched || email.dirty),
              'invalid-feedback': email.invalid && (email.touched || email.dirty)
            }"
          />
          <div
            class="invalid-feedback-txt"
            *ngIf="username.errors && (username.touched || username.dirty)"
          >
            <p *ngIf="username.errors['required']">username is required</p>
            <p *ngIf="username.errors['pattern']">
              username should be in proper format
            </p>
          </div>
  
          <!-- <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small> -->
        </div>
        <!-- password -->
        <div class="form-group mt-3">
          <label for="exampleInputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword"
            placeholder="Password"
            name="password"
            formControlName="password"
            [ngClass]="{
              'valid-feedback':
                password.valid && (password.touched || password.dirty),
              'invalid-feedback':
                password.invalid && (password.touched || password.dirty)
            }"
          />
        </div>
        <div
          class="invalid-feedback-txt mb-4"
          *ngIf="password.errors && (password.touched || password.dirty)"
        >
          <p *ngIf="password.errors['required']">password is required</p>
          <p *ngIf="password.errors['minlength']">
            password should contain
            {{ password.errors["minlength"]["actualLength"] }} character atleast ,
            you required
            {{
              password.errors["minlength"]["requiredLength"] -
                password.errors["minlength"]["actualLength"]
            }}
            more char
          </p>
        </div>
        <!-- repeat password -->
        <div class="form-group mt-3">
          <label for="exampleInputRepeatPassword">Confirm password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputRepeatPassword"
            placeholder="repeat Password"
            name="repeat_password"
            formControlName="repeat_password"
            [ngClass]="{
              'valid-feedback':
              repeat_password.valid && (repeat_password.touched || repeat_password.dirty),
              'invalid-feedback':
              repeat_password.invalid && (repeat_password.touched || repeat_password.dirty)
            }"
          />
        </div>
        <br />
        <div class="btn-group btn-group-lg">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="signInForm.invalid"
            (click)="registrationForm()"
          >
            Submit
          </button>
          <button class="btn btn-secondary" (click)="resetForm()">clear</button>
        </div>

        <div>
          <a
            class="" 
            [routerLink]="['/Khabar', 'sign-in']"
          >
            Already registered Go to Login page 
          </a>
          
        </div>
        <div>
          <b class="text-danger">{{ registrationError }} </b>
        </div>
      </form>
    </div>
  </div>
  