<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" [routerLink]="['Khabar', 'all']">Khabar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['Khabar', 'world']"
            routerLinkActive="active"
            >World</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['Khabar', 'sport']"
            routerLinkActive="active"
            >Sport</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['Khabar', 'economy']"
            routerLinkActive="active"
            >Economy</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            [routerLink]="['Khabar', 'fitness']"
            routerLinkActive="active"
            >Fitness</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Search"
          [(ngModel)]="userSearch"
          [ngModelOptions]="{ standalone: true }"
        />
        <button
          class="btn btn-dark"
          style="border: 1px solid white"
          type="button"
          [routerLink]="['Khabar', userSearch]"
        >
          Search
        </button>
      </form>
      <button [routerLink]="['Khabar','profile']" class="mx-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="28" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg></button>
    </div>
  </div>

</nav>
